{% extends "base.html" %}

{% block title %}album_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<br><br>
    <h2 style="display:inline">{{ object.name }}</h2>
    &emsp;<b><i>{{ object.description }}</i></b>
    <div>
            <div style="float: right" class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'photo:album_detail' object.id %}"><button type="button" class="btn btn-secondary">최신수</button></a>
            <a href="{% url 'photo:album_detail2' object.id %}"><button type="button" class="btn btn-secondary">조회수</button></a>
            </div>
            <div style="float: right" class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary btn-sm" type="submit">Search</button>
                    </form>
                </a>
            </div>
        </div>
        <br><br>
    <hr/>

        {% for photo in object.photo_set.all|dictsort:"post_hit"%}
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-3">
                    <a href="{{ photo.get_absolute_url }}">
                    <img src="{{ photo.image.thumb_url }}"
                        class="card-img" alt="...">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{photo.title}}</h5>
                        <p class="card-text">{{photo.description|slice:":280"}}</p>
                        <p class="card-text"><small class="text-muted">조회수 {{ photo.post_hit }}</small></p>
                        <p class="card-text"><small class="text-muted">{{ photo.upload_date|date:"m.d P" }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {% endfor %}
    </div>

{% endblock %}
